# =========================
# Credentials / Secrets
# =========================
Creds/
Creds
.env
.env.*
*.pem
*.key

# =========================
# Data
# =========================
data/
*.csv

# =========================
# dbt
# =========================
zomato/target/
zomato/dbt_packages/
zomato/logs/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
.venv/
venv/

# =========================
# OS / IDE
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db